.new-task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Andale Mono";

  input {
    width: 50%;
    font-size: 14px;
    padding: 2px;
    font-family: "Andale Mono";
  }
  textarea {
    font-family: "Andale Mono";
    font-size: 14px;
    height: 100px;
  }
  label {
    padding: 10px 0 10px 0;
  }
  button {
    margin-top: 10px;
    cursor: pointer;
  }
}
