.login {
  padding: 12rem;
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  .header {
    background-color: var(--background);
    color: var(--text-color);
    .btns-flex-col {
      display: flex;
      flex-direction: column;
    }
  }
  app-tasks-board {
    padding-top: 1rem;
    overflow: hidden;
    height: 85%;
    background-color: var(--background);
    color: var(--text-color);
  }
  span {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
  }
  .greet {
    padding-left: var(--page-h-margin);
  }
  .logout-link {
    padding-right: var(--page-h-margin);
    cursor: pointer;
  }
}
