.login {
  padding: 12rem;
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  app-tasks-board {
    padding-top: 1rem;
    overflow: hidden;
    height: 85%;
    background-color: aliceblue;
  }
  span {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
  }
  .greet {
    padding-left: var(--page-h-margin);
  }
  .logout-link {
    padding-right: var(--page-h-margin);
    cursor: pointer;
  }
}
