.add {
  cursor: pointer;
  margin: 10px var(--page-h-margin);
  font-size: 13px;
}
.tasks-board {
  display: flex;
  padding: 8px var(--page-h-margin);
  overflow: auto;
  height: 100%;
  margin-top: 10px;
  background-color: cornflowerblue;
}

.priority-title {
  display: flex;
  justify-content: center;
}

.container {
  flex: 1;
  height: 100%;
  max-width: 26em;
}
.container:not(:last-child) {
  margin-right: var(--tasks-h-margin);
}

.task {
  background: rgba(255, 255, 255, 0.4);
  list-style: none;
  padding: 8px;
  color: #222;
  cursor: pointer;
  margin-top: 4px;
  word-wrap: break-word;
}

.task:not(:last-child) {
  border-bottom: 1px solid #777;
}

a:link, a:visited, a:hover, a:active { color: lightblue; }

.draggable-area {
  height: 50vh;
}
