<button class="add" (click)="addNewTask($event)">Add new task</button>
<div class="tasks-board">
    <section class="container" >
      <h2>{{tasksAreas.importantUrgent}} </h2>
      <div class="draggable-area" dragula="VAMPIRES" [(dragulaModel)]="vamps">
        <div class="vamp" *ngFor="let vamp of vamps">{{ vamp.name }}</div>
      </div>
    </section>

    <section class="container">
      <h2>{{tasksAreas.urgentNotImportant}} </h2>
      <div class="draggable-area" dragula="VAMPIRES" [(dragulaModel)]="vamps">
        <div class="vamp" *ngFor="let vamp of vamps2">{{ vamp.name }}</div>
      </div>
    </section>

    <section class="container">
      <h2>{{tasksAreas.importantNotUrgent}}</h2>
      <div class="draggable-area" dragula="VAMPIRES" [(dragulaModel)]="vamps">
        <div class="vamp" *ngFor="let vamp of vamps3">{{ vamp.name }}</div>
      </div>
    </section>

    <section class="container">
      <h2> {{tasksAreas.notImportantNotUrgent}}</h2>
      <div class="draggable-area" dragula="VAMPIRES" [(dragulaModel)]="vamps">
        <div class="vamp" *ngFor="let vamp of vamps4">{{ vamp.name }}</div>
      </div>
    </section>

  </div>


