<a class="add" (click)="addNewTask($event)">
  <fa-icon [icon]="faPlusCircle"></fa-icon>
  Add new task
</a>
<div class="tasks-board">
    <section class="container" >
      <h4 class="priority-title">{{tasksAreas.importantNotUrgent}} </h4>
      <div [id]="taskAreaType.importantNotUrgent" class="draggable-area" dragula="TASKS" [(dragulaModel)]="importantNotUrgent">
        <div class="task" *ngFor="let task of importantNotUrgent">
          <app-task [task]="task" (notifyTaskRemoval)="removeTask($event)" (notifyEdit)="editTask($event)"></app-task>
        </div>
      </div>
    </section>

    <section class="container">
      <h4 class="priority-title">{{tasksAreas.importantUrgent}} </h4>
      <div [id]="taskAreaType.importantUrgent" class="draggable-area" dragula="TASKS" [(dragulaModel)]="importantUrgent">
        <div class="task" *ngFor="let task of importantUrgent">
          <app-task [task]="task" (notifyTaskRemoval)="removeTask($event)" (notifyEdit)="editTask($event)"></app-task>
        </div>
      </div>
    </section>

    <section class="container">
      <h4 class="priority-title">{{tasksAreas.urgentNotImportant}}</h4>
      <div [id]="taskAreaType.urgentNotImportant" class="draggable-area" dragula="TASKS" [(dragulaModel)]="urgentNotImportant">
        <div class="task" *ngFor="let task of urgentNotImportant">
          <app-task [task]="task" (notifyTaskRemoval)="removeTask($event)" (notifyEdit)="editTask($event)"></app-task>
        </div>
      </div>
    </section>

    <section class="container">
      <h4 class="priority-title"> {{tasksAreas.notImportantNotUrgent}}</h4>
      <div [id]="taskAreaType.notImportantNotUrgent" class="draggable-area" dragula="TASKS" [(dragulaModel)]="notImportantNotUrgent">
        <div class="task" *ngFor="let task of notImportantNotUrgent">
          <app-task [task]="task" (notifyTaskRemoval)="removeTask($event)" (notifyEdit)="editTask($event)"></app-task>
        </div>
      </div>
    </section>

  </div>

